.section-1 .nav{
  display: flex;
  justify-content: space-between;
}

#sectionfirst{
  
    height: 100vh;
    background-image: url('img/Image\ 16.png');
    background-size: cover;
    background-position: center;
    
}

.nav img {
  border: none; /* This will remove any border from the image */
}